.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__info {
  font-family: 'Gill Sans','Gill Sans MT', Calibri,'Trebuchet MS', sans-serif;
}

.fighter-preview__name {
  font-size: 24px;
  color: red;
}

.fighter-preview__characteristic {
  margin: 0;
  color: white;
}
